<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Whatsapp</title>
</head>
<body>
    <div id="app" class="container">
       <div class="containermain">
           <div class="leftcont">
            <!-- LEFT CONT -->
                <div class="user-name">
                    <!-- User Name -->
                    <div class="left-user-name">
                        <div class="image">
                            <img src="img/avatar_4.jpg" alt="">
                        </div>
                        <span class="name-user">
                            Tommaso Macco
                        </span>
                    </div>
                    <div class="right-user-name">
                        <div class="icon-default-grey">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>













                </div>
                <div class="notification-tab">
                    <!-- Notification Message -->
                    <div class="notification-cont">
                        <div class="notification-logo">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <span class="text-notification">
                            <strong>Ricevi notifice di nuovi messaggi</strong>
                            <br>
                            <span id="underlinetext">Attiva notifiche desktop</span>
                        </span>
                    </div>



                </div>
                <div class="search-chat">
                    <!-- Input Search New Chat -->
                    <div class="inputcontainer">
                        <input class="inputstyle" type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                </div>
                <div class="all-chat-list">
                    <!-- All The Chat -->
                    <div class="box-message" v-for="contact, i in contacts" :key="i" @click="activeNow(i)">
                        <div class="image">
                            <img :src="contact.avatar" :alt="contact.name">
                        </div>
                        <span class="text-notification">
                            <strong class="name-contact">{{contact.name}}</strong>
                            <br>
                            <span class="lastmessage">{{contact.messages[contact.messages.length -1].text}}</span>
                            <span class="lastlogin lastmessage">{{contacts[activeContact].messages[0].date}}</span>
                        </span>
                    </div>
                </div>
           </div>
           <!-- --------------------------------------------------------------- -->
           <div class="rightcont">
               <!-- RIGHT CONT -->
               <div class="message-profile-user">
                   <!-- Message Profile User -->
                    <div class="rightside-contact">
                        <div class="image">
                            <img :src="contacts[activeContact].avatar" :alt="contacts[activeContact].name">
                        </div>
                        <span class="text-notification">
                             <strong class="name-contact">{{contacts[activeContact].name}}</strong>
                             <br>
                             <span class="lastmessage">{{contacts[activeContact].messages[0].date}}</span>
                         </span>
     
                    </div>
                    <div class="leftside-contact">
                        <div class="icon-default-grey">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>


               </div>
               <div class="main-message">
                   <!-- Message Chat -->
                   <div class="container-message">
                        <div class="message-box">
                            <div v-for="message in contacts[activeContact].messages" :class="message.status" class="message-chat">
                                {{message.text}}
                                <span class="datemessage lastmessage">{{message.date}}</span>
                            </div>
                        </div>
                   </div>



               </div>
               <div class="new-message-input">
                   <!-- Input New Message -->
                   INPUT NEW MESSAGE
               </div>
           </div>
       </div>











    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>