* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
}

.containermain {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}


/* LEFT CONT */
.leftcont {
    width: 30%;
    height: 100%;
    /* DEBUG */
    background-color: black;
}

/* User name */
.user-name {
    display: flex;
    height: 100px;
    background-color: #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}

.left-user-name {
    width: 50%;
    height: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
}

.right-user-name {
    width: 50%;
    height: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
}

.image {
    height: 100%;
    display: flex;
    align-items: center;
}

.user-name .image > img {
    height: 100%;
    border-radius: 100%;
}

.name-user {
    font-size: 20px;
    font-weight: bold;
    padding: 5px
}

.icon-default-grey {
    color: grey;
    font-size: 20px;
}

.icon-default-grey > i {
    margin-left: 10px;
    cursor: pointer;
}
/* -------------------------------------------- */

/* Notification Tab */
.notification-tab {
    height: 125px;
    background-color: #8edafc;
}

.notification-cont {
    display: flex;
    align-items: center;
    height: 100%;
    width: 95%;
    margin: 0 auto;
}

.notification-logo {
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 100%;
    font-size: 30px;
    cursor: pointer;
}

.text-notification {
    margin-left: 10px;
    font-size: 18px;
}

#underlinetext {
    text-decoration: underline;
    color: grey;
    font-size: 16px;
    cursor: pointer;
}











/* Input Search chat */
.search-chat {
    height: 75px;
    background-color: #fafafa;
}

.inputcontainer {
    padding: 15px;
    height: 100%;
    width: 100%;
}

.inputstyle {
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url('https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-2.png');
    background-size: 20px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

/* Box message */
.all-chat-list {
    height: calc(100% - 300px);
    background-color: #ffffff;
    overflow: auto;
}

.box-message {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    position: relative;
}

.box-message:hover {
    background-color: #e9ebeb;
}

.image > img {
    height: 100%;
    border-radius: 100%;
}

.lastmessage {
    color: grey;
    opacity: 0.5;
}

.lastlogin {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 10px;
}






/* RIGHT CONT */
.rightcont {
    width: 70%;
    height: 100%;
    /* DEBUG */
    background-color: blue;
}

/* Message profile user */
.message-profile-user {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #eaeaea;
    border-left: 1px solid grey;
    padding: 15px;
}

.rightside-contact {
    display: flex;
    align-items: center;
    width: 60%;
    height: 100%;
}

.leftside-contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    height: 100%;
}









/* Main Message CHAT */
.main-message {
    height: calc(100% - 200px);
    overflow: auto;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
}

.container-message {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.message-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.message-chat {
    max-width: 30%;
    min-width: 40%;
    min-height: 60px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.sent {
    background-color: #d5f9ba;
    align-self: flex-end;
}

.recive {
    background-color: #fff;
}

.datemessage {
    position: absolute;
    right: 6px;
    bottom: 6px;
    font-size: 10px;
}





/* New Message Input */
.new-message-input {
    height: 100px;
    background-color: #f3eeea;
}