* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
}

.containermain {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}


/* LEFT CONT */
.leftcont {
    width: 40%;
    height: 100%;
    /* DEBUG */
    background-color: black;
}

/* User name */
.user-name {
    display: flex;
    height: 100px;
    background-color: brown;
}

.left-user-name {
    width: 50%;
    height: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
}

.right-user-name {
    width: 50%;
    height: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
}

.image {
    height: 100%;
    display: flex;
    align-items: center;
}

.image > img {
    height: 80%;
    width: 100%;
    border-radius: 100%;
}

.name-user {
    font-size: 20px;
    font-weight: bold;
    padding: 5px
}

.icon-default-grey {
    color: grey;
    font-size: 20px;
}

.icon-default-grey > i {
    margin-left: 10px;
    cursor: pointer;
}
/* -------------------------------------------- */

/* Notification Tab */
.notification-tab {
    height: 125px;
    background-color: cadetblue;
}

.notification-cont {
    display: flex;
    align-items: center;
    height: 100%;
    width: 95%;
    margin: 0 auto;
}

.notification-logo {
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 100%;
    font-size: 30px;
    cursor: pointer;
}

.text-notification {
    margin-left: 10px;
    font-size: 18px;
}

#underlinetext {
    text-decoration: underline;
    color: grey;
    font-size: 12px;
    cursor: pointer;
}











/* Input Search chat */
.search-chat {
    height: 75px;
    background-color: red;
}

/* Box message */
.box-message {
    height: 100px;
    background-color: white;
}

.box-message:hover {
    background-color: grey;
    opacity: 0.5;
}










/* RIGHT CONT */
.rightcont {
    width: 60%;
    height: 100%;
    /* DEBUG */
    background-color: blue;
}

/* Message profile user */
.message-profile-user {
    height: 100px;
    background-color: hotpink;
}

/* Main Message CHAT */
.main-message {
    height: calc(100% - 200px);
}

/* New Message Input */
.new-message-input {
    height: 100px;
    background-color: gold;
}